body{
font-family: Ubuntu, arial, sans-serif;

}


/*----------start cabeçalho=----------------*/
nav {
        position: fixed;
        display: block;
        height: 63px;
        z-index: 100;
        text-align: center;
        background-color: #091b29;
        color:#97a1a8;
    }

	

#navbarSupportedContent{
	background-color: #091b29;
}

.logo{
font-size: 2.198rem;
letter-spacing: 1px;
color: #fff;
}
.navbar-brand img{

border-radius:circle;
width: 88px;
height:94px;

}
.no-margin{
margin-left: -15px;
margin-right: -15px;
}
.nav-link,.dropdown-item a{
color: #fff;
text-transform: uppercase;
font-weight: bold;

}

.nav-link:hover{
color: #97a1a8;
border-top: 1px  solid #97a1a8;
border-bottom: 1px  solid #97a1a8;
}

.dropdown-menu{
top: 3.5rem;
background-color: #404040;
border-radius: 0;
}
.fa-bars{
	color: #fff;
	font-size: 1.85rem;
}
img#logo{
margin-top:6px;
margin-left: 10px;
}
/*-----------------carousel-------------------*/
.carousel{
margin-bottom: -1rem;
}
.carousel-caption{
top: 20%;
left: 10%;
text-align: left;
}

.carousel-caption-title{
font-size: 4.5rem;
font-weight: 300;
margin-bottom: 0;
}

.carousel-caption-text{
font-size: 3.5rem;
font-weight: 900;
margin-bottom: 0;
text-transform:uppercase;
line-height: normal; /*altura da linha*/
font-family: 'Lato', sans-serif;
}

.carousel-indicators li{
bottom: 0.5rem;
}
.carousel-indicators li:hover{
background-color: #fff;
}
.jumbotron{
border-radius: 0;
background-repeat: no-repeat; 
background-size: 100%;
background-position: center;
color: #000;
}

button{
	margin-bottom: 20px;
}

/*---------------------------section linha azul--------------------*/
.linha{

			border-top: 20px solid #091b29;
	}
.linha1{
			border-top: 20px solid #091b29;
	}

/*------------------------------section loja--------------------------*/
.loja{
	margin-bottom: 20px;
	margin-top: 20px;
}

.loja p{
	margin-top: 10px;
	text-align: justify;
	line-height: 30px;
}

/*---------------------localização-------------------------------*/
section#localizacao{
	margin-top: 20px;
	padding-bottom:10px;

}

section#localizacao p{
	line-height: 30px;
	margin-top: 10px;
}

section#localizacao table.horario{
				float: left;
		 		border: 1px  ;
				margin-left: 20px;
				text-align: center;
				background-color: #97a1a8;
				border: 1px solid #000;

			}


section#localizacao table.horario td{
				border: 1px solid #000;
				padding: 9px;
				text-align: center;
				background-color: #fff; 
			}
section#localizacao img#mapa{
				margin-top: 27px;
				padding-top: -13px;
				border-radius: 1px;
				width: 200px;
				height: 204px;	
				border: 3px solid #091b29;

				
			}



			 figure:hover >  figcaption{
				opacity: 1;
			}



/*------------------------------footer------------------------*/

.footer-top{
	background-color: #091b29;
	padding: 25px 0 30px 0;
	margin-bottom: -3rem;
}
.agradecimentos{
	margin-bottom: 30px;
}
.agradecimentos h3{
	font-size: 34px;
	
	padding: 2px 0 2px 0;
	margin-top: 40px;
	line-height: 1;
	font-weight: 400;
	letter-spacing: 3px;
	color: #fff;	
}
.agradecimentos span{
	text-transform: uppercase;
	font-weight: 700;
	
}
.agradecimentos p{
	font-size: 13px;
	line-height: 24px;
	color: #fff;
}

.footer-top h4{
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	position: relative;
	padding-bottom: 10px;
	
}
.footer-links{
	margin-bottom: 30px;
}
.footer-links ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.footer-links ul li{
	padding: 8px 0;
}
.footer-links ul li:first-child{
	padding-top: 0;
}
.footer-links ul a{
	color: #fff;
	text-decoration: none;
}
.footer-links ul a:hover{
	margin-bottom: 30px;
}
.contatos{
	margin-bottom: 30px;
}
.contatos p{
	line-height: 26px;
}
.contatos ul{
	padding-left:3px;
}
.redes-sociais a{
	font-size: 18px;
	display: inline-block;
	background: #97a1a8;
	color: #fff;
	line-height: 1;
	padding: 8px 0;
	margin-right: 19px;
	border-radius: 50%;
	text-align: center;
	width: 36px;
	height: 36px;
	transition: 0.3s;
}
.loc{
	margin-bottom: 30px;
}
#rua{
	color: #fff;
}


.copyright{
	background-color:#091b29;
	color: #fff;
	text-align: center;
	padding-bottom: 15px;
	border-top: 1px solid #97a1a8;
	padding-top: 18px;
}
a[href="#top"]{
    padding:10px;
    position:fixed;
    top: 65%;
    right:30px;
    display:none;
    font-size: 30px;
    color: #97a1a8;
}
a[href="#top"]:hover{
    text-decoration:none;
}

